@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #1a0033, #4b0082);
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

header {
    background: url(./assets/images/astro.jpg);
    padding: 20px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: slidein 120s forwards infinite alternate;
}

@keyframes slidein {
    0%,
    100% {
        background-position: 20% 0%;
        background-size: 3400px;
    }

    50% {
        background-position: 100% 0%;
        background-size: 2400px;
    }
}

.logo {
  height: 100px;
  margin-right: 15px;
  border-radius: 20px;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.list-item {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.list-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #ff00ff;
}

.list-item a {
    color: white;
}

.list-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#welcome-video {
    width: 100%;
    border-radius: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    list-style: none;
}

section {
    padding: 50px 20px;
}

.member-list, .staff-list {
    list-style: none;
    padding: 0;
}

.product-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
    .product-card {
        flex-direction: column;
        align-items: center;
    }
}

.buy-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff00ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.buy-btn:hover {
    background: #ff66ff;
}

.foto {
    width: 100%;
    border-radius: 20px;
}

footer {
    background: url(./assets/images/astro.jpg);
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px 20px 0px 0px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    animation: slidein 120s forwards infinite alternate;
}
